.background {
  vertical-align: top;
  background-color: #333a36;
  color: white;
  text-align: center;
  margin: 0px;
}

.search {
  display: grid;
  align-items: center;
  padding: 2px;
  width: 80px;
  padding-left: 48.5%;
}
