.background {
  vertical-align: top;
  background-color: #333a36;
  color: white;
  text-align: center;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.poemborder {
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  display: inline-block;
}

.authortitle {
  font-weight: bold;
  margin-bottom: 30px;
}

p {
  vertical-align: top;
  background-color: #333a36;
  margin: 7px;
}
